* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed';
    background: rgb(170,163,155);
    background: linear-gradient(0deg, rgba(170,163,155,1) 0%, rgba(255,255,255,1) 100%);
    height: 100%;
}
/* Search input-field AND submitBTN */
aside {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 2rem;
}
form {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.search {
    font-family: 'Roboto Condensed';
    width: 150px;
    height: 25px;
    margin-right: .5rem;
}
.btnSearch {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    cursor: pointer;
}
/* Header and Logo */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
    padding-bottom: 1rem;
}
.circle {
    position: relative;
    width: 220px;
    height: 220px;
    background-color:  rgb(185,178,169);
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
}
.logo {
    position: absolute;
    width: 160px;
    height: 160px;
    background: url(/img/movie-logo.jpg);
    background-size: 100%;
    border-radius: 50%;
    right: 30px;
    top: 30px;
}
.header-text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    transform: rotate(-90deg);
}
@keyframes rotateText {
    0% 
        {
    transform: rotate(365deg);
     }
    100% 
     {
    transform: rotate(0deg);
     }
}
.header-text span {
    position: absolute;
    left: 45%;
    transform-origin: 10px 110px;
}
/* Title-Genre-Released input-field and btn */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    padding-bottom: 1rem;
}
nav input {
    font-family: 'Roboto Condensed';
    width: 200px;
    height: 25px;
    margin: auto;
}
.btnAddMovie {
    font-family: 'Roboto Condensed';
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 150px;
    margin: auto;
    cursor: pointer;
    transition: box-shadow 0.15;
}
.btnAddMovie:hover {
    background-color:  rgb(185,178,169);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.btnAddMovie:active {
    background-color:  rgb(244, 238, 232);
}
/* Search-Favorites-Watched Display List */
main {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding-top: 1rem;
}
section {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2rem;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    font-weight: 400;
    list-style: none;
    padding-top: .5rem;
    width: auto;
    letter-spacing: .9px;
}
.searchDisplay {
    display: flex;
    justify-content: center;
}
fieldset {
    padding: .5rem;
}
h3 {
    color: rgb(125, 124, 121);
    padding: 10px;
}
.favorite, .watched {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    max-width: 1000px;
    gap: 1rem 2rem;
}
.watchedBtn {
    font-family: 'Roboto Condensed';
    border: none;
    border-radius: 30px;
    width: 60px;
    height: 20px;
    margin: auto;
    cursor: pointer;
    transition: box-shadow 0.15;
}
.watchedBtn:hover {
    background-color:  rgb(185,178,169);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.watchedBtn:active {
    background-color:  rgb(244, 238, 232);
}
@media only screen and (max-width: 711px) {

    .favorite, .watched {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
}